.newest {
  width: 100%;
  height: 1300px;
}
.newest .newtop {
  width: inherit;
  height: 75px;
  text-align: center;
}
.newest .newtop h2 {
  display: inline-block;
  line-height: 75px;
  font-family: persian;
  color: #242425;
  font-size: 32px;
  font-weight: normal;
}
.slider {
  width: inherit;
  height: 570px;
  background-color: rebeccapurple;
}
.newest .newbottom {
  width: inherit;
  height: 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newest .newbottom .observeall {
  width: 310px;
  height: 50px;
  display: flex;
  justify-content: center;
}
.newest .newbottom .observeall a {
  width: 310px;
  line-height: 50px;
  font-family: persian;
  color: #00bf6f;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}
.newest .newbottom .observeall a .button {
  width: inherit;
  height: inherit;
  margin: 0 auto;
  text-align: center;
  border-radius: 25px;
  border: lightgrey solid 1px;
  transition: 500ms;
}
.newest .newbottom .observeall:hover .button {
  border: #00bf6f solid 1px;
}
.newest .other1 {
  width: 1430px;
  height: 270px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.newest .other1 div {
  width: 700px;
  height: 220px;
  overflow: hidden;
}
.newest .other1 div .image {
  width: 100%;
  height: inherit;
  border-radius: 20px;
}
.newest .other1 div .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1000ms;
}
.newest .other1 div:hover .image img {
  transform: scale(1.03, 1.03);
}
.newest .other2 {
  width: 1430px;
  height: 270px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.newest .other2 div {
  width: 1430px;
  height: 220px;
  overflow: hidden;
}
.newest .other2 div .image {
  width: 100%;
  height: inherit;
  border-radius: 20px;
}
.newest .other2 div .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1000ms;
}
.newest .other2 div:hover .image img {
  transform: scale(1.03, 1.03);
}
.slider {
  width: inherit;
  height: 570px;
  background-color: white !important;
}
.slider .center {
  width: 1430px;
  height: inherit;
  margin: 0 auto;
}
.flex {
  flex-direction: column !important;
}
.swiper-slide2 {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  align-items: center;
}
.swiper-slide2 .image {
  width: 90%;
  object-fit: cover;
  transition: 300ms;
  position: relative;
  padding-top: 10px;
  box-sizing: border-box;
}
.swiper-slide2 .image .othersize {
  position: absolute;
  width: 90%;
}
.swiper-slide2 .image .othersize1 {
  width: 50px;
  position: absolute;
  bottom: 0;
  right: 50px;
  margin: 10px;
  border: #00bf6f 1px solid;
}
.swiper-slide2 .image .othersize2 {
  width: 50px;
  position: absolute;
  bottom: 0;
  right: 100px;
  margin: 10px;
  border: #00bf6f 1px solid;
}
.swiper-slide2 .image .othersize3 {
  width: 50px;
  position: absolute;
  bottom: 0;
  right: 150px;
  margin: 10px;
  border: #00bf6f 1px solid;
}

.swiper-slide2 .image img {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}
.swiper-slide2 .hover {
  display: none;
  width: 100%;
}
.swiper-slide2:hover .hover {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  display: block;
  padding-top: 10px;
  box-sizing: border-box;
}

.swiper-slide2 .heart1,
.swiper-slide2 .heart2,
.swiper-slide2 .heart3,
.swiper-slide2 .heart4,
.swiper-slide2 .heart5 {
  width: 50px;
  height: 50px;
  background-color: rgb(244, 242, 242);
  position: absolute;
  right: 35px;
  top: 25px;
  border-radius: 50%;
  box-shadow: 1px 1px 10px white;
  text-align: center;
  line-height: 50px;
  display: none;
}
.swiper-slide2 .eye1,
.swiper-slide2 .eye2,
.swiper-slide2 .eye3,
.swiper-slide2 .eye4,
.swiper-slide2 .eye5 {
  width: 50px;
  height: 50px;
  background-color: rgb(244, 242, 242);
  position: absolute;
  right: 35px;
  top: 85px;
  border-radius: 50%;
  box-shadow: 1px 1px 10px white;
  text-align: center;
  line-height: 50px;
  display: none;
}
.swiper-slide2 .heart2,
.swiper-slide2 .eye2 {
  right: 385px !important;
}
.swiper-slide2 .heart3,
.swiper-slide2 .eye3 {
  right: 735px !important;
}
.swiper-slide2 .heart4,
.swiper-slide2 .eye4 {
  right: 1085px !important;
}
.swiper-slide2 .heart5,
.swiper-slide2 .eye5 {
  right: 1435px !important;
}

.swiper-slide2:hover .heart1,
.swiper-slide2:hover .eye1 {
  display: block;
  z-index: 10;
}
.swiper-slide2:hover .heart2,
.swiper-slide2:hover .eye2 {
  display: block;
  z-index: 10;
}
.swiper-slide2:hover .heart3,
.swiper-slide2:hover .eye3 {
  display: block;
  z-index: 10;
}
.swiper-slide2:hover .heart4,
.swiper-slide2:hover .eye4 {
  display: block;
  z-index: 10;
}
.swiper-slide2:hover .heart5,
.swiper-slide2:hover .eye5 {
  display: block;
  z-index: 10;
}
.swiper-slide2 .oldprice {
  width: 330px;
  height: 40px;
  padding-top: 10px;
}
.swiper-slide2 .oldprice .brand,
.swiper-slide2 .oldprice .price {
  display: inline-block;
  width: 45%;
}
.swiper-slide2 .oldprice .brand a,
.swiper-slide2 .oldprice .price a {
  text-decoration: none;
}
.swiper-slide2 .oldprice .brand {
  text-align: right;
  font-size: 20px;
  font-weight: bold;
}
.swiper-slide2 .oldprice .brand a {
  color: black;
}
.swiper-slide2 .oldprice .price {
  text-align: left;
  font-family: persian;
  font-size: 12px;
}
.swiper-slide2 .oldprice .price a {
  color: grey;
  text-decoration: line-through;
}
.swiper-slide2 .newprice {
  width: 330px;
  height: 40px;
  padding-top: 10px;
}
.swiper-slide2 .newprice .details,
.swiper-slide2 .newprice .sales {
  display: inline-block;
  width: 45%;
}
.swiper-slide2 .newprice .details {
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: grey;
}
.swiper-slide2 .newprice .details a {
  text-decoration: none;
  font-size: 13px;
  color: gray;
  font-family: persian;
  font-weight: bold;
}
.swiper-slide2 .newprice .sales {
  text-align: left;
  font-family: persian;
  font-size: 16px;
  color: #00bf6f;
  vertical-align: top;
  font-weight: bold;
}
.swiper-slide2 .btn {
  width: 330px;
  padding-right: 22px;
  display: flex;
  justify-content: flex-start;
}
.swiper-slide2 .size {
  width: 50px;
  height: 25px;
  border: 1px solid lightgrey;
  box-sizing: border-box;
  border-radius: 5px;
  line-height: 16px;
  display: block;
}
.corum {
  width: 30px !important;
  margin: 0 1px 0 1px;
}
.jooti {
  width: 40px !important;
  margin: 0 1px 0 1px;
}
.swiper-slide2 .size .color {
  color: #f16423 !important;
}
.swiper-slide2 .size a {
  text-decoration: none;
  text-align: center;
  color: rgb(87, 87, 87);
  font-family: persian;
  font-size: 11px;
  font-weight: bold;
}
.swiper-slide2 .stock {
  width: 160px;
  height: 40px;
  background-color: #f16423;
  border-radius: 5px;
  line-height: 40px;
  font-family: persian;
  font-size: 14px;
  color: whitesmoke;
  position: absolute;
  bottom: 200px;
}
.othercolor{
  width: 250px;
  height: 100px;
  position: absolute;
  bottom: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.othercolor img{
  width: 60px;
  height: 70px;
  margin: 5px;
  border-radius: 5px;
}
.swiper-slide2:hover .othercolor{
display: block;
z-index: 50;
}