.sliderBottom {
  width: 100%;
  height: 510px;
}
.sliderBottom .center {
  width: 1430px;
  height: inherit;
  margin: 0 auto;
  padding-top: 30px;
  box-sizing: border-box;
}
.sliderBottom .center .rightbottom {
  width: 450px;
  height: 450px;
  display: inline-block;
}
.sliderBottom .center .leftbottom {
  width: 930px;
  height: 450px;
  position: relative;
  display: inline-block;
  margin-right: 45px;
}
.sliderBottom .center .leftbottom img {
  width: 930px;
  border-radius: 15px;
}
.sliderBottom .center .rightbottom img {
  width: 450px;
  border-radius: 15px;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #ffffff;
  border-width: 1px;
  border-color: gray;
  border-style: solid;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  font-size: 15px;
  color: black;
  text-align: center;
  line-height: 45px;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  width: 17px;
  height: 7px;
  border-radius: 50px;
  background-color: #ffffff;
}